<article id="main">
  <header class="error">
  <h1>Oops! The URL doesn't look like GitHub repo.</h1>
  <form id="search-bar" action="/repos" method="post" accept-charset="utf-8">
    <input type="text" name="url" placeholder="Try again or enter another URL">
    <button type="submit" class="search">Search</button>
  </form><!--search bar-->
  </header>
  <div class="repo-browse">
    <h1>You can also browse these repositories</h1>
    <ul class="repo-examples">
      <% featured_repos.each do |r| %>
        <li><a href="<%= repo_url r %>"><span class="owner"><%= r.owner %> /</span> <%= r.name %></a></li>
      <% end %>
    </ul>
  </div><!--repo browse-->
</article>
