<article id="main">
  <header class="error">
  <h1>We took note of that repo</h1>
  </header>
  <div class="repo-browse">
    <h1>You can also browse these repositories</h1>
    <ul class="repo-examples">
      <% featured_repos.each do |r| %>
        <li><a href="<%= repo_url r %>"><span class="owner"><%= r.owner %> /</span> <%= r.name %></a></li>
      <% end %>
    </ul>
  </div><!--repo browse-->
</article>
