<article id="main">
<header class="project">
  <h1 class="project-name">Super Thunder Unicorn</h1>
  <span class="score-tag"><i class="icon-rocket"></i> You rock!</span>
</header><!--heading-->
<div class="row">
  <section id="viz">
    <header class="block"><h1>Repository history</h1></header>
    <img class="viz" src="/images/graph.svg" height="252" width="710" alt="graph">
  </section>
  <dl class="repo-stats">
    <dt><h1>Ruby Kaizen points</h1></dt>
    <dd class="number">00100</dd>
    <dt><h1>Lines of code</h1></dt>
    <dd class="number">30000</dd>
    <dt><h1>Badges earned</h1></dt>
    <dd class="badge">
      <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
      <p>Batman!</p>
      <span class="badge-date">2 days ago</span>
    </dd>
    <dd class="badge">
      <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
      <p>Batman!</p>
      <span class="badge-date">2 days ago</span>
    </dd>
    <dd class="badge">
      <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
      <p>Batman!</p>
      <span class="badge-date">2 days ago</span>
    </dd>
  </dl><!--repo stats-->
</div><!--row-->

<div class="row">
  <article class="ranking">
    <h1>Contributors by score</h1>
    <ol class="contributors">
      <li>
        <aside><img src="/images/voldemort.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">voldemort_86</p>
        <p class="score">100000 <span class="points-tag">points</span></p>
      </li>
      <li>
        <aside><img src="/images/vader.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">DarthVather</p>
        <p class="score">75000 <span class="points-tag">points</span></p>
      </li>
      <li>
        <aside><img src="/images/magneto.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">Magneto</p>
        <p class="score">48000 <span class="points-tag">points</span></p>
      </li>
      <li>
        <aside><img src="/images/shepard.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">fem_shep_forever<p>
        <p class="score">22000 <span class="points-tag">points</span></p>
      </li>
      <li>
        <aside><img src="/images/alguien.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">ladybenko</p>
        <p class="score">1200 <span class="points-tag">points</span></p>
      </li>
    </ol><!--contributors-->
    <button type="button" class="more">View all contributors</button>
  </article>
  <article class="ranking">
    <h1>Most common problems solved</h1>
    <ol class="problems_solved">
      <li>
        <p class="name">Waka Waka Property</p>
        <p class="score">58 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Lala Uiui Property</p>
        <p class="score">72 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Nino Clic Property</p>
        <p class="score">79 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Flux Condenser broken</p>
        <p class="score">35 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Your code is a mess</p>
        <p class="score">62 <span class="occurrences-tag">occurrences</span></p>
      </li>
    </ol><!--problems solved-->
    <button type="button" class="more">View all solved problems</button>
  </article>
  <article class="ranking">
    <h1>Most common offenses</h1>
    <ol class="offenses">
      <li>
        <p class="name">Waka Waka Property</p>
        <p class="score">58 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Lala Uiui Property</p>
        <p class="score">72 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Nino Clic Property</p>
        <p class="score">79 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Flux Condenser broken</p>
        <p class="score">35 <span class="occurrences-tag">occurrences</span></p>
      </li>
      <li>
        <p class="name">Your code is a mess</p>
        <p class="score">62 <span class="occurrences-tag">occurrences</span></p>
      </li>
    </ol><!--offenses-->
    <button type="button" class="more">View all offenses</button>
  </article>
</div><!--row-->
</article>
