<header class="project">
  <h1 class="project-name">Super Thunder Unicorn</h1>
  <span class="score-tag">You rock!</span>
</header><!--heading-->
<article class="row">
  <article class="column-2-3">
    <header class="block"><h1>Project history</h1></header>
    <img class="viz" src="/images/graph.svg" height="" width="" alt="graph">
  </article>
  <article class="column-1-3">
    <section>
      <header class="block"><h1>Ruby Kaizen points</h1></header>
      <span class="number">00100</span>
    </section>
    <section>
      <header class="block"><h1>Lines of code</h1></header>
      <span class="number">30000</span>
    </section>
    <section>
      <header class="block"><h1>Badges earned</h1></header>
      <section class="badge">
        <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
        <p>Batman!</p>
        <span class="badge-date">2 days ago</span>
      </section>
      <section class="badge">
        <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
        <p>Batman!</p>
        <span class="badge-date">2 days ago</span>
      </section>
      <section class="badge">
        <img class="badge" src="/images/batman_badge.png" height="50" width="50" alt="graph">
        <p>Batman!</p>
        <span class="badge-date">2 days ago</span>
      </section>
    </section>
  </article>
</article><!--row-->

<article class="row">
  <article class="column-1-3">
    <header class="block"><h1>Contributors by score</h1></header>
    <ol class="contributors">
      <li>
        <aside><img src="/images/voldemort.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">voldemort_86</p>
        <p class="score">100000 <span>points</span></p>
      </li>
      <li>
        <aside><img src="/images/vader.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">DarthVather</p>
        <p class="score">75000 <span>points</span></p>
      </li>
      <li>
        <aside><img src="/images/magneto.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">Magneto</p>
        <p class="score">48000 <span>points</span></p>
      </li>
      <li>
        <aside><img src="/images/shepard.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">fem_shep_forever<p>
        <p class="score">22000 <span>points</span></p>
      </li>
      <li>
        <aside><img src="/images/alguien.png" height="60" width="60" alt="avatar"></aside>
        <p class="name">ladybenko</p>
        <p class="score">1200 <span>points</span></p>
      </li>
    </ol><!--contributors-->
    <button>View all contributors</button>
  </article>
  <article class="column-1-3">
    <header class="block"><h1>Most common problems solved</h1></header>
    <ol class="problems_solved">
      <li>
        <p class="name">Waka Waka Property</p>
        <p class="score">58 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Lala Uiui Property</p>
        <p class="score">72 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Nino Clic Property</p>
        <p class="score">79 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Flux Condenser broken</p>
        <p class="score">35 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Your code is a mess</p>
        <p class="score">62 <span>occurrences</span></p>
      </li>
    </ol><!--problems solved-->
    <button>View all solved problems</button>
  </article>
  <article class="column-1-3">
    <header class="block"><h1>Most common offenses</h1></header>
    <ol class="offenses">
      <li>
        <p class="name">Waka Waka Property</p>
        <p class="score">58 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Lala Uiui Property</p>
        <p class="score">72 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Nino Clic Property</p>
        <p class="score">79 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Flux Condenser broken</p>
        <p class="score">35 <span>occurrences</span></p>
      </li>
      <li>
        <p class="name">Your code is a mess</p>
        <p class="score">62 <span>occurrences</span></p>
      </li>
    </ol><!--offenses-->
    <button>View all offenses</button>
  </article>
</article><!--row-->