<h1><%= @repo.owner %>/<%= @repo.name %></h1>
<p>Commits</p>
<ul>
<% @repo.commits.reject{|x| x.rubocop.nil?}.reverse.each do |c| %>
  <li><a href="<%= commit_url c %>"><%= c.sha1 %></a></li>
<% end %>
</ul>
