<article id="main">
  <header class="error">
  <h1>Oops! We can't find the repository you were looking for.</h1>
  <form id="search-bar" action="/repos" method="post" accept-charset="utf-8">
    <input type="text" name="url" placeholder="Try again or enter another URL">
    <button type="submit" class="search">Search</button>
  </form><!--search bar-->
  </header>
  <div class="repo-browse">
    <h1>You can also browse these repositories</h1>
    <ul class="repo-examples">
      <li>Repo 1</li>
      <li>Repo 2</li>
      <li>Repo 3</li>
    </ul>
  </div><!--repo browse-->
</article>
