<header id="home">
  <div class="tagline">
    <h1>Ruby Kaizen</h1>
    <h2>Improve your code</br>one commit at a time</h2>
  </div><!--tagline-->
</header>
<section id="about">
  <div class="about-container">
    <h1>Why use Ruby Kaizen in your team?</h1>
    <ul class="reasons">
      <li>
        <h1>Improve team work</h1>
        <p>Together your team can create code that's readable, reusable and maintainable, your future selves will be grateful for that!</p>
      </li>
      <li>
        <h1>Boost morale</h1>
        <p>Get points and positive reinforcement every time you release code without offenses or earn even more for fixing existing offenses.</p>
      </li>
      <li>
        <h1>Continuous improvement</h1>
        <p>This is the best part. Thanks to your efforts and fixing the issues spotted with Ruby Kaizen, your code will get better and better.</p>
      </li>
    </ul>
  </div><!--search container-->
</section>
<section id="examples">
  <div id="examples-container">
    <h1>Browse one of these repositories and see their scores</h1>
    <ul class="repo-examples">
      <% @repos.each do |r| %>
        <li><a href="<%= repo_url r %>"><%= r.owner %>/<%= r.name %></a></li>
      <% end %>
      <li class="repo-example">Repo 1</li>
      <li class="repo-example">Repo 2</li>
      <li class="repo-example">Repo 3</li>
    </ul>
  </div><!--examples container-->
</section>
<section id="search-repo">
  <div class="search-container">
    <h1>Or find our how any other repository is doing</h1>
    <div id="search-bar">
      <input type="text" name="repo-name-search" placeholder="Enter the URL of your repository">
      <button type="button" class="search">Search</button>
    </div><!--search bar-->
  </div><!--search container-->
</section>

