<article id="main">
  <header class="error">
  <h1>Loading this repository may take a while</h1>
  <h2>Please don't leave, it's really cool, promise!</h2>
  </header>
  <div class="repo-browse">
    <h1>In the meantime, why not browse one of these repositories?</h1>
    <ul class="repo-examples">
      <% featured_repos.each do |r| %>
        <li><a href="<%= repo_url r %>"><span class="owner"><%= r.owner %> /</span> <%= r.name %></a></li>
      <% end %>
    </ul>
  </div><!--repo browse-->
</article>
