<article id="main">
  <header class="error">
  <h1>Loading this repository may take a while</h1>
  <h2>Please don't leave, it's really cool, promise!</h2>
  </header>
  <div class="repo-browse">
    <h1>In the meantime, why not browse one of these repositories?</h1>
    <ul class="repo-examples">
      <li>Repo 1</li>
      <li>Repo 2</li>
      <li>Repo 3</li>
    </ul>
  </div><!--repo browse-->
</article>
