<!doctype html>
<html>
<head>
  <title>RubyKaizen</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <header>
    <h1>RubyKaizen</h1>
  </header>

  <article>
    <%= yield %>
  </article>

  <footer>
    <p>Source in
      <a href="https://github.com/railsrumble/r13-team-72">Github</a></p>
  </footer>
</body>
</html>
