<!doctype html>
<html>
<head>
  <title>RubyKaizen</title>
  <meta charset="utf-8">
  <script type="text/javascript" src="//use.typekit.net/qtf0nfl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <nav>
    <div class="nav-links">
      <a href="/"><img id="logo"  src="/images/logo_color.png" height="40" width="40" alt="graph"><h1 id="wordmark">Ruby Kaizen</h1></a>
      <button id="vote"><a href="http://railsrumble.com/entries/72-ruby-kaizen" alt="Ruby Kaizen Rails Rumble page">Pretty please, vote for us :)!</a></button>
    </div><!--nav links-->
  </nav>

  <%= yield %>

  <footer>
    <div class="footer-links">
      <p>Developed in 48 hours for
      <a href="https://github.com/railsrumble/r13-team-72">Rails Rumble 2013</a> by <a href="http://twitter.com/ernesto_jimenez" alt="Ernesto Jimenez">@ernesto_jimenez</a>, <a href="http://twitter.com/ladybenko" alt="Belen Albeza">@ladybenko</a> &amp; <a href="https://twitter.com/blanca_tp" alt="Blanca Tortajada">@blanca_tp</a></p>
    </div><!--footer links-->
  </footer>
</body>
</html>
